@use 'vars' as v;

// Default values
.ffw-container * {
  box-sizing: border-box;
}

.ffw-container {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: v.$color-white;
  overflow-x: hidden;
}

/* Typography */
.ffw-container * {
  font-family: v.$font-family-open;
}

.ffw-container {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;
    font-family: v.$font-family-noto;
  }

  a {
    font-family: v.$font-family-noto;
  }

  .bg-color-orange {
    background-color: rgba(v.$color-orange, 0.9);
  }

  .bg-color-green {
    background-color: rgba(v.$color-green, 0.9);
  }

  .bg-color-blue {
    background-color: rgba(v.$color-blue, 0.9);
  }

  .bg-color-purple {
    background-color: rgba(v.$color-purple, 0.9);
  }

  .icon.arrow-right {
    display: block;
    transition: all 400ms ease;
    background-image: url('data:image/svg+xml,<svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 18 15"><path d="M17.2,9.4l-5.6,5.3c-.1.1-.2.2-.4.2-.1,0-.3,0-.4,0-.1,0-.3,0-.4,0-.1,0-.3-.1-.4-.2-.1,0-.2-.2-.2-.3,0-.1,0-.3,0-.4,0-.1,0-.3,0-.4s.1-.2.3-.3l4.9-4.6H5.1c-.3,0-.6-.1-.8-.3s-.3-.5-.3-.7.1-.5.3-.7.5-.3.8-.3h9.8L10.1,1.8c-.1,0-.2-.2-.3-.3,0-.1,0-.3,0-.4,0-.1,0-.3,0-.4,0-.1.1-.2.2-.3.1,0,.2-.2.4-.2S10.7,0,10.8,0c.1,0,.3,0,.4,0s.3.1.4.2l5.6,5.3c.3.2.5.5.6.9.1.3.2.7.2,1s0,.7-.2,1c-.1.3-.3.6-.6.9h0Z" style="fill: %23fff;"/><path d="M1,6.5c.6,0,1,.4,1,1s-.4,1-1,1-1-.4-1-1,.4-1,1-1Z" style="fill: %23fff;"/></svg>');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 18px;
    width: 32px;
    height: 32px;
  }

  .icon.leaf {
    display: block;
    background-image: url('data:image/svg+xml,<svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 61 61"><path d="M16.8,52.3h-.8c-2.9,0-6.8.2-9.9,1.1-.8-3.4-1.2-7.3-1.2-11.2,0-8.8,2.3-15.2,7.1-20.1,7.5-7.5,20.5-12.7,39.8-15.8-3.4,7.2-4.7,14-5.8,20.1-1.4,7.5-2.7,13.9-7.3,18.7-7.1,7.2-13.6,7.2-21.8,7.2M55.9.7C38.8,3.2,19.8,7.2,8.5,18.6,2.7,24.5,0,32,0,42.2s.8,10.8,2.2,15.4l1.1,3.4.5-.5s1.1-1,2.4-1.8c1.7-1,5.2-1.5,9.9-1.5h.8c8.6,0,16.8,0,25.3-8.6,5.8-5.8,7.2-13.3,8.7-21.2,1.3-7,2.8-14.9,7.6-23l2.6-4.4-5.1.7h0Z" style="fill: %23fff;"/></svg>');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 46px;
    height: 46px;
  }

  .icon.arrow-down {
    display: block;
    background-image: url('data:image/svg+xml,<svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 15 9"><path d="M14.6.4c.2.3.4.6.4,1s-.1.7-.4,1l-6.2,6.3c-.1.1-.3.2-.4.3-.2,0-.3,0-.5,0-.2,0-.4,0-.5-.1-.2,0-.3-.2-.4-.3L.4,2.3c-.2-.3-.4-.6-.4-1S.1.6.4.4c.2-.3.6-.4.9-.4s.7.1.9.4l5.2,5.4L12.7.4c.2-.3.6-.4.9-.4s.7.1.9.4Z" style="fill: %23fff;"/></svg>');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 15px;
    width: 32px;
    height: 32px;
  }
}

/* Header */
.ffw-container section.fancy-header {
  position: relative;
  margin: 0 auto;
  width: calc(100% - 0px);
  max-width: 1140px;
  overflow: hidden;
  color: v.$color-white;

  @media only screen and (width >= 1680px) {
    max-width: 1440px;
  }

  // @media only screen and (width >= 1920px) {
  //   max-width: 1680px;
  // }

  .img-wrapper {
    position: relative;
    padding-top: 160%; /* 1:1.6 aspect ratio (1.6 / 1 * 100) 160% */
    width: 100%;
    overflow: hidden;

    @media only screen and (width >= 769px) {
      padding-top: calc((1% / 2.4) * 100); /* 2.4:1 aspect ratio (1 / 2.4 * 100) 41.667% */
    }

    @media only screen and (width >= 1440px) {
      padding-top: calc((1% / 2.25) * 100); /* 2.25:1 aspect ratio (1 / 2.25 * 100) 44.444% */
    }

    @media only screen and (width >= 1680px) {
      padding-top: calc((1% / 1.8) * 100); /* 1.8:1 aspect ratio (1 / 1.8 * 100) 55.556% */
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      // background: linear-gradient(180deg, rgb(0 0 0 / 48%) 0%, rgb(0 0 0 / 0%) 66.66%);
      width: 100%;
      height: 100%;
      content: ' ';

      // @media only screen and (width >= 769px) {
      //   background: linear-gradient(90deg, rgb(0 0 0 / 48%) 0%, rgb(0 0 0 / 0%) 66.66%);
      // }
    }
  }

  .menu-wrapper {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 100%;

    @media only screen and (width >= 769px) {
      flex-direction: row;
      justify-content: center;
    }

    ul {
      margin: 0;
      padding: 0;
      width: 100%;
      list-style: none;
    }

    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0;
      border-bottom: 1px solid rgba(v.$color-white, 0.2);
      padding: 8px 32px;
      text-decoration: none;
      line-height: 1.5;
      letter-spacing: 0.8px;
      color: v.$color-white;
      font-family: v.$font-family-noto;
      font-size: v.$font-size-normal;
      font-weight: 700;
      font-style: normal;

      @media only screen and (width >= 769px) {
        padding: 8px 16px;
      }

      @media only screen and (width >= 1440px) {
        padding: 8px 24px;
      }

      @media only screen and (width >= 1680px) {
        padding: 8px 32px;
      }

      &:first-child {
        @media only screen and (width >= 769px) {
          border-top: 1px solid rgba(v.$color-white, 0.2);
        }
      }

      li {
        @media only screen and (width >= 769px) {
          padding-left: 32px;
        }

        @media only screen and (width >= 1140px) {
          padding-left: 48px;
        }

        &:last-child {
          border-bottom: 0;
        }
      }
    }

    li > span,
    a {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0;
      width: 100%;
      text-decoration: none;
      line-height: 1.5;
      letter-spacing: 0.8px;
      word-break: break-word;
      word-wrap: break-word;
      color: v.$color-white;
      font-size: v.$font-size-normal;
      font-weight: 700;
      font-style: normal;
      hyphens: auto;

      @media only screen and (width >= 769px) {
        font-size: v.$font-size-normal-mobile;
      }

      @media only screen and (width >= 1140px) {
        font-size: v.$font-size-normal;
      }

      @media only screen and (width <= 1440px) {
        font-size: v.$font-size-normal-mobile;
      }
    }

    .accordion-header {
      cursor: pointer;

      .icon.arrow-down {
        transform: rotate3d(0, 0, 1, -90deg);
        transition: all 800ms ease;

        @media only screen and (width >= 769px) {
          transform: rotate3d(0, 0, 1, 0deg);
        }
      }
    }

    .accordion-header.accordion-open {
      .icon.arrow-down {
        transform: rotate3d(0, 0, 1, 90deg);

        @media only screen and (width >= 769px) {
          transform: rotate3d(0, 0, 1, 180deg);
        }
      }
    }

    .accordion-header:hover {
      .icon.arrow-down {
        @media only screen and (width >= 769px) {
          transform: rotate3d(0, 0, 1, 180deg);
        }
      }
    }

    li:not(.accordion-content) a:hover {
      @media only screen and (width >= 769px) {
        .icon.arrow-right {
          transform: translate3d(4px, 0, 0);
        }
      }
    }

    .accordion-content {
      position: fixed;
      top: 0;
      left: 100%;
      align-items: flex-start;
      transition: left 400ms ease;
      z-index: 1;
      padding: 24px 32px;
      width: 100vw;
      height: 100vh;
      overflow-y: auto;

      @media only screen and (width >= 769px) {
        display: none;
        position: relative;
        top: auto;
        left: auto;
        padding: 0;
        width: 100%;
        height: auto;
      }

      span:not(.back-button),
      a:not(.back-button) {
        font-weight: 400;

        // @media only screen and (width >= 769px) {
        //   font-weight: 400;
        // }
      }

      &.menu-open {
        left: 0;
        z-index: 52;
      }
    }

    .item {
      display: block;
      position: relative;
      transition: all 400ms ease;
      z-index: 1;
      width: 100%;

      @media only screen and (width >= 769px) {
        height: 64px;
      }

      @media only screen and (width >= 1140px) {
        height: 80px;
      }

      &-01 {
        @media only screen and (width >= 769px) {
          background-color: rgba(v.$color-orange, 0.9);
        }

        .accordion-content,
        .item-header,
        .item-content {
          background-color: rgba(v.$color-orange, 0.9);

          @media only screen and (width >= 769px) {
            background-color: transparent;
          }
        }
      }

      &-02 {
        @media only screen and (width >= 769px) {
          background-color: rgba(v.$color-green, 0.9);
        }

        .accordion-content,
        .item-header,
        .item-content {
          background-color: rgba(v.$color-green, 0.9);

          @media only screen and (width >= 769px) {
            background-color: transparent;
          }
        }
      }

      &-03 {
        @media only screen and (width >= 769px) {
          background-color: rgba(v.$color-purple, 0.9);
        }

        .accordion-content,
        .item-header,
        .item-content {
          background-color: rgba(v.$color-purple, 0.9);

          @media only screen and (width >= 769px) {
            background-color: transparent;
          }
        }
      }

      &-04 {
        @media only screen and (width >= 769px) {
          background-color: rgba(v.$color-blue, 0.9);
        }

        .accordion-content,
        .item-header,
        .item-content {
          background-color: rgba(v.$color-blue, 0.9);

          @media only screen and (width >= 769px) {
            background-color: transparent;
          }
        }
      }

      .icon svg {
        display: block;
        width: 100%;
      }

      .icon svg path {
        fill: v.$color-white;
      }
    }

    .item-header {
      position: relative;
      z-index: 2;
      border-bottom: 1px solid rgba(v.$color-white, 0.45);
      cursor: pointer;
      padding: 16px 24px;
      overflow: hidden;

      @media only screen and (width >= 769px) {
        border-bottom: none;
        background-color: transparent !important;
        padding: 16px 32px;
      }

      @media only screen and (width >= 1140px) {
        border-bottom: none;
        background-color: transparent !important;
        padding: 24px 32px;
      }

      .title {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        transition: font-size 200ms ease;
        opacity: 1;
        width: 100%;
        text-transform: uppercase;
        line-height: 1.3;
        letter-spacing: 0.32px;
        color: v.$color-white;
        font-size: v.$font-size-normal;
        font-weight: 800;
        font-style: normal;

        span {
          display: block;
          padding-left: 8px;
          width: calc(100% - 32px - 32px);
          overflow: hidden;
          text-overflow: ellipsis;
          // white-space: nowrap;

          @media only screen and (width >= 769px) {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding-left: 0;
            width: calc(100% - 32px);
            min-height: 32px;
          }
        }

        .icon.leaf {
          transition: all 400ms ease;
          background-position: center;
          background-size: 28px;
          width: 32px;
          height: 32px;

          @media only screen and (width >= 769px) {
            opacity: 0;
            background-position: top;
            background-size: 46px;
            width: 46px;
            height: 0;
          }
        }
      }
    }

    .two-lines-title .item-header {
      .title {
        span {
          @media only screen and (width >= 769px) {
            position: relative;
            transition: margin-top 400ms ease;
            margin-top: -5px;
            min-height: 42px;
          }
        }
      }
    }

    .item-content {
      display: flex;
      position: fixed;
      top: 0;
      left: 100%;
      flex-direction: column;
      gap: 24px 0;
      align-items: flex-start;
      transition: opacity 2000ms ease,
      left 400ms ease;
      opacity: 0;
      z-index: 52;
      padding: 24px 32px;
      width: 100vw;
      height: 100vh;
      overflow-y: auto;

      @media only screen and (width >= 769px) {
        display: flex;
        position: relative;
        top: 0;
        left: 0;
        gap: 0;
        transition: all 800ms ease;
        opacity: 0;
        background-color: transparent !important;
        padding: 0;
        width: 100%;
        height: auto;
        overflow: hidden;

        &.overflow {
          overflow-y: auto;
        }
      }

      &.active {
        left: 0;
        transition: opacity 100ms ease,
        left 400ms ease;
        opacity: 1;
        z-index: 52;

        &.menu-open {
          left: -100%;
        }
      }

      .subtitle {
        display: block;
        width: 100%;
        line-height: 1.5;
        color: v.$color-white;
        font-size: v.$font-size-normal;
        font-weight: 400;
        font-style: normal;

        @media only screen and (width >= 769px) {
          padding: 0 32px;
        }

        .mobile-title {
          display: block;
          margin: 0;
          // margin: 0 0 24px;
          width: 100%;
          text-decoration: none;
          line-height: 1.5;
          font-size: v.$font-size-title-mobile;
          font-weight: 700;
          font-style: normal;

          @media only screen and (width >= 769px) {
            display: none;
          }
        }
      }
    }

    .menu-column {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: 100%;
      // overflow: hidden;

      @media only screen and (width >= 769px) {
        width: calc(100% / 4);
        height: 100%;

        &:hover:not(.hover) {
          z-index: 1;

          .item {
            transition: all 400ms ease;
            height: 118px;
          }

          .item.two-lines-title {
            height: 138px;
          }

          .item-header {
            .title {
              font-size: v.$font-size-title;

              span {
                margin-top: 0;
              }

              .icon.leaf {
                opacity: 1;
                background-size: 100%;
                width: 46px;
                height: 54px;
              }
            }
          }
        }
      }

      @media only screen and (width >= 1140px) {
        &:hover:not(.hover) {
          .item {
            height: 134px;
          }

          .item.two-lines-title {
            height: 154px;
          }
        }
      }

      &.hover {
        z-index: 52;

        @media only screen and (width >= 769px) {
          z-index: 1;

          .item {
            transition: all 800ms ease;
            height: 100%;
          }

          .item.two-lines-title {
            height: 100%;
          }

          .item-header {
            // padding: 24px 32px 32px;
            padding: 24px 32px 16px;

            .title {
              gap: 8px 0;

              span {
                display: block;
                display: -webkit-box;
                // padding-left: 24px;
                // width: calc(100% - 32px - 46px);
                transition: padding-left 200ms ease;
                padding-bottom: 1px;
                width: calc(100% - 46px);
                overflow: hidden;
                text-transform: uppercase;
                text-overflow: ellipsis;
                line-height: 1.5;
                letter-spacing: normal;
                white-space: unset;
                color: v.$color-white;
                font-size: v.$font-size-title-hover;
                font-weight: 800;
                font-style: normal;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                line-clamp: 2 '...';
              }

              .icon.leaf {
                opacity: 1;
                background-size: 32px;
                width: 32px;
                height: 32px;
              }

              .icon.arrow-right {
                display: none;
              }
            }
          }

          .item-content {
            opacity: 1;
            height: calc(100% - 72px);

            &::-webkit-scrollbar {
              width: 8px;
            }

            /* Track */
            &::-webkit-scrollbar-track {
              border-radius: 8px;
            }

            /* Handle */
            &::-webkit-scrollbar-thumb {
              border-radius: 8px;
              background: rgba(v.$color-white, 0.2);
            }

            /* Handle on hover */
            &::-webkit-scrollbar-thumb:hover {
              background: rgba(v.$color-white, 0.2);
            }
          }

          .two-lines-title .item-content {
            height: calc(100% - 89px);
          }

          &:hover .item-content {
            opacity: 1;
          }
        }
      }
    }

    li.back-button-wrapper,
    .back-button-wrapper {
      margin-bottom: 32px;
      border: 0;
      padding: 0;

      @media only screen and (width >= 769px) {
        display: none;
      }
    }

    .back-button {
      display: flex;
      gap: 0 16px;
      align-items: center;
      justify-content: flex-start;
      margin: 0;
      border: 0;
      padding: 0;
      width: auto;
      text-decoration: none;
      line-height: 1.5;
      letter-spacing: 0.8px;
      color: v.$color-white;
      font-size: v.$font-size-normal;
      font-weight: 700;
      font-style: normal;

      @media only screen and (width >= 769px) {
        display: none;
      }

      .icon.arrow-down {
        transform: rotate3d(0, 0, 1, 90deg);
      }
    }
  }

  .text-wrapper {
    .text-box {
      position: absolute;
      top: 24px;
      left: 24px;
      padding: 16px 0;
      width: calc(100% - 48px);

      @media only screen and (width >= 769px) {
        position: absolute;
        top: calc(50% - 44px);
        left: 20%;
        transform: translate(-50%, -50%);
        padding: 32px;
        width: calc((100% / 5) * 2);
      }
    }

    h1 {
      margin-bottom: 16px;
      line-height: 1.5;
      font-size: v.$font-size-teaser-title-mobile;
      font-weight: 700;
      font-style: normal;

      @media only screen and (width >= 769px) {
        margin-bottom: 48px;
        line-height: 1.3;
        font-size: v.$font-size-teaser-title;
      }
    }

    p {
      margin: 0;
      padding: 0;
      line-height: 1.5;
      letter-spacing: 0.08px;
      font-family: v.$font-family-noto;
      font-size: v.$font-size-normal;
      font-weight: 500;
      font-style: normal;
    }
  }
}

/* logged in corrections */

.user-logged-in .ffw-container section.fancy-header .menu-wrapper .accordion-content,
.user-logged-in .ffw-container section.fancy-header .menu-wrapper .item-content {
  @media only screen and (width < 769px) {
    padding: calc(24px + 39px) 32px;
  }
}

.no-scroll {
  @media only screen and (width < 769px) {
    // position: fixed;
    // top: 0;
    // left: 0;
    // width: 100%;
    // height: 100%;
    overflow: hidden;
    overscroll-behavior: none;
    touch-action: none;
  }
}

.overflow {
  overflow-y: auto;
}

/* General page adjustments */
.section:last-of-type {
  padding-bottom: 0 !important;
}

.section:first-of-type {
  padding-top: 0 !important;
}

.layout--onecol .layout__region > .block {
  margin-bottom: 0 !important;
}
